# Ignore bundler config.
/.bundle

# Ignore all environment files.
.env
.env.*
!.env.example

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage files.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials.
/config/master.key

# Ignore node_modules
/node_modules

# Ignore precompiled assets
/public/assets
/public/packs
/public/packs-test

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity
